@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Ubuntu:ital@1&display=swap');

h1,h2,h3,h4 {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

code {
    color:blueviolet
}